*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}
body{
    background-color: black;
    font-family: 'Rakkas', cursive;
    color: aliceblue;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: x-large;
    background-color: aqua ;
    height: 6rem;
    position: fixed;
    width: 100%;
    top: 0;
    margin-bottom: 30px;
}

.left{
    font-size: 1.0rem;
    color: black;}
    /*
    
}*/


nav ul{
    display: flex;
    justify-content: center;
    font-size: 70%;
}
nav ul li{
    list-style: none;
    margin:20px ;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: 400;
    transition: font-size font-weight 0.6s;

}

nav ul li a:hover{
    font-size: larger;
    font-weight: 800;
    transition-duration: 0.3s;

}


.first-section{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    padding: 160PX;
    transition: 0.2s;
}
.first-section > div{
    width: 40%;
}
.leftsection{
    font-size: 2.5rem;
    margin: 30px;
    margin-top: 110px;
    justify-content: safe;
}

.purple{
    color: rgba(0, 255, 255, 0.669);
}
#element{
    color: rgba(0, 255, 255, 0.669);
}
.rightsection img{
    height: 20rem;
    width: 25rem;
    margin-top: 30px;
}

.secondsection{
    max-width: 80vw;
    margin: auto;

}
/*-------------about----------------*/
#about{
    padding: 72px 0;
    color: aqua;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 50%;
    margin-left: 10%;
    font-size: 17px;
}
.about-col-1 h1{
    margin-top: 17px;
    margin-bottom: 10px;
    font-size: 60px;
    font-weight: 400;
    color: aqua;
}
.about-col-2{
    flex-basis: 30%;
}
.about-col-2 img{
    width: 80%;
    
}

.tab-titles{
    display: flex;
    margin: 20px 0px 40px;
    cursor: pointer;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 300;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0px;
    height: 3px;
    background:aqua; 
    position: absolute;
    left: 2px;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 80%;
}
.tab-contents ul li{
    list-style: circle;
    margin: 10px 0;
    color: rgba(0, 255, 255, 0.669);
}
.tab-contents span{
    color: white;
    font-size: 20px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/*------------------------------*/

